body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('./glassmorph.jpg');
    overflow: auto; /* Hide scrollbar */
    background-size: auto; /* Ensure background image covers the entire body */
    background-position: center; /* Center the background image */
    backdrop-filter: blur(10px); 
    scrollbar-width: thin; /* Thin scrollbar */
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow effect */
}

h1 {
    margin: 0;
    font-size: 32px;
}

section#leaderboard {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
}

section#leaderboard h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff; /* Set heading color */
    font-size: 24px;
}

.team-container {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Set background color with opacity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add smooth transition for shadow and transform */
}

.team-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
    transform: scale(1.05); /* Enlarge the team container on hover */
}

.team-info {
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Set background color with opacity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align all text */
}

.team-heading h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.team-points p {
    margin: 0;
    font-size: 18px; /* Adjust font size */
    font-weight: bold;
    color: #fff;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 0; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* Transparent background */
}

::-webkit-scrollbar-thumb {
    background: rgb(8, 83, 145); /* Semi-transparent white thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    width: 2px; /* Adjust the width of the thumb */
    height: 6px; /* Adjust the height of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(11, 112, 195, 0.9); /* Lighter thumb color on hover */
}

/* Make the scroll wheel transparent */
::-webkit-scrollbar-thumb:vertical {
    border: 1px solid transparent;
}

/* Make the scrollbar itself round */
::-webkit-scrollbar-track-piece {
    border-radius: 10px; /* Rounded corners for the scrollbar */
}

