{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="{% static 'Teams/style.css' %}">
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
</head>
<body>
    <div class="container">
        <div class="header-container">
            <h1>CNTC IPL Auction</h1>
            <form action="">
                <input type="text" placeholder="Team ID" class="inputBox">
            </form>
            <button id="start-btn">Start</button>
        </div>
    </div>
    <div class="quiz-container" style="display: none;">
        <div id="options"></div>
        <button id="submit-btn" style="display: none;">Submit</button>
    </div>
    <script src="{% static 'Teams/script.js' %}"></script>
</body>
</html>