{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="{%static 'Teams/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>CNTC IPL Auction</h1>
        <div id="timer"></div> <!-- Timer element -->
        <button id="start-btn">Start</button>
    </div>
    <div class="quiz-container" style="display: none;">
        <div id="options"></div>
        <button id="submit-btn" style="display: none;">Submit</button>
    </div>
    <script src="{%static 'Teams/script.js' %}"></script>
</body>
</html>
