{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'Teams/leaderboard.css' %}">
</head>
<body>
    <header>
        <h1>Leaderboard</h1>
    </header>
    
    <section id="leaderboard">
        <h2>Top Teams</h2>
        {% for team in teams %}
        <div class="team-container">
            <div class="team-info">
                <div class="team-heading">
                    <h3>Team ID: {{ team.team_id }}</h3>
                    <h3>Team Name: {{ team.team_name }}</h3>
                </div>
                <div class="team-points">
                    <p>Total Points Scored: {{ team.total_points }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

    <footer>
        <p>2024 CN Auctions Finalist</p>
    </footer>
</body>
</html>